.result-container {
    width: 1250px;
    height: 380px;
    background: #F5F5F5;
    border-radius: 8px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.informations {
    margin: 24px 0 0 54px;
}